
h1{
   font-family: 'Barlow', sans-serif;
   font-weight: 500;
   margin-left: 10px;
   margin-bottom: 2px;
}

#top-part{
   display: flex;
   flex-direction: row; 
   justify-content: space-between;
   padding-bottom: 2px;
}

.options{
   width: 33%;
   padding: 0px 10px;
}

h2{
   margin: 0;
   font-family: 'Barlow', sans-serif;
   font-weight: 500;
   margin-bottom: 7px;
}

#textArea{
   font-size: 14px;
   font-family: 'Barlow', sans-serif;
   font-weight: 500;
   outline: none;
   width: 30vw;
   height: 150px;
   padding: 5px;
}

#optionsTypo{
   height: 25px;
   width: 150px;
   outline: none;
}

input[type="color" i] {
   width: 50px;
   height: 50px;
   border: none;
}


#typo{
   font-size: 14px;
   font-family: 'Barlow', sans-serif;
   font-weight: 500;

}



.colorPicker{
   border: none;
   background: none;
   padding: 0;
   height: 30px;
   width: 30px;
   outline: none;
   margin: 0;
   -webkit-appearance: none;
}




#numbTypo{
   font-size: 14px;
   font-family: 'Barlow', sans-serif;
   font-weight: 500;
   width: 50px;
   height: 20px;
   outline: none;
}

#showAreaDiv{
   padding-left: 10px;
   width: auto;
}

#parentDiv{
   display: flex;
   flex-direction: row;
}

hr{
   margin-left: 10px;
   margin-right: 10px;
   background-color: black;
   border: none;
   height: 0.5px;
}

#resetButton{
   margin-left: 10px;
   margin-top: 4px;
   
}

#saveButton{
   margin-left: 3px;
   margin-top: 4px;
}